<ion-view title="{{'about'|translate}}">
	<ion-content class="has-header" padding="true">
		<h4>Company profile and positioning</h4>
		<p>B4U Tax Free Ltd – companies in the EU28 operating VAT refund service in terms of  individual retail export applied per each EU28 country legislation and providing TaxFree4U – online VAT refund service when shopped in the EU. TaxFree4U is represented by representative and partner offices in the European Union  and other countries</p>
		<p>TaxFree4U markets its customers from all over the world focusing on Middle East & Gulf, South East Asia and Americas</p>
		<p>TaxFree4U is marketed via own Customer Service Desks at major international airports inside/outside the EU28 and via partner channels: banks, airline companies, tour operators etc. </p>
		<br>
		<h4>Benefits for the Customer:</h4>
		<ul class="ul-list">
			<li>Easy online registration, when issuing bank card, planning a trip</li>
			<li>Tax Free Shopping instant prepaid card to get the amount refunded even faster</li>
			<li>No need to wait in queue for cash</li>
			<li>Customer learns how to use the service before he starts shopping</li>
			<li>Less paperwork, less hassle for the customer</li>
			<li>Money refunded to customers bank card within 48 hours</li>
			<li>TaxFree4U mobile application tool</li>
			<li>Applicable for purchases in Europe’s top tourist shopping destinations</li>
			<li>Increased VAT refund rates, shopping costs less</li>
		</ul>
	</ion-content>
</ion-view>