<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="'true'" scroll="false" class="">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>
        <h1 class="text-center white">Авторизация</h1>
        <p class="text-center white">Еще нет аккаунта? <a ui-sref="reg.one" class="white">Регистрация</a></p>

        <div class="spacer" style="height:20px"></div>
        <form>
            <div class="list inputs-on-background">
                <label class="item item-input">
                    <input type="email" ng-model="user.username" placeholder="E-mail">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="user.password" placeholder="Password">
                </label>
            </div>
            <p class="text-center"><a href="#/login/password-recovery" class="white">Забыли пароль?</a></p>
            <div class="spacer" style="height: 20px;"></div>

            <button class="button button-block button-outline button-white up" ng-click="login()">Вход</button>
        </form>
    </ion-content>
</ion-view>