<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="mt20"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>

        <h1 class="text-center white">{{'password_recovery'|translate}}</h1>

        <div class="box mt20">
            <form class="list inputs-on-background" name="form">
                <label class="white">{{'new_password'|translate}} *</label>
                <div class="item item-input">
                    <input type="password" minlength="8" ng-model="data.password" placeholder="{{'minimum_8_characters'|translate}}" required>
                </div>
                <label class="white">{{'confirm_new_password'|translate}} *</label>
                <div class="item item-input">
                    <input type="password" minlength="8" ng-model="data.password_confirm" placeholder="{{'minimum_8_characters'|translate}}" required>
                </div>
            </form>
        </div>

        <div class="box mt20">
            <button ng-class="{disabled: !(form.$valid && data.password == data.password_confirm)}" class="button button-block button-outline button-white up" ng-click="stepThree()">{{'restore_password'|translate}}</button>
        </div>

    </ion-content>
</ion-view>
