<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="logo image">
            <img src="img/logo.png">
        </div>

        <h1 class="text-center white" ng-show="data.sendTo == 'sms'">{{'enter_your_sms_code'|translate}}</h1>
        <h1 class="text-center white" ng-show="data.sendTo == 'email'">{{'enter_code_from_recived_email'|translate}}</h1>

        <div class="mt20">
            <div class="list inputs-on-background mb20">
                <label class="item item-input">
                    <input type="number" ng-model="data.code" placeholder="xxxxxxxx">
                </label>
            </div>
            <p class="text-center"><a ui-sref="passwordOne" class="white">{{'back_to_recovery_form'|translate}}</a></p>
        </div>

        <p class="text-center white">{{'remember_password'|translate}} <a ui-sref="login" class="white">{{'login'|translate}}</a></p>

        <div class="mt20">
            <button class="button button-block button-outline button-white up" ng-click="stepTwo()">{{'submit'|translate}}</button>
        </div>
    </ion-content>
</ion-view>
