<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="logo image mt20">
            <img src="img/logo.png">
        </div>

        <h1 class="text-center white" ng-show="data.type == 'phone'">Enter your SMS code</h1>
        <h1 class="text-center white" ng-show="data.type == 'email'">Enter code from recived email</h1>

        <div class="box mt20">
            <div class="list inputs-on-background mb20">
                <label class="item item-input">
                    <input type="text" ng-model="data.code" placeholder="xxxxxxxx">
                </label>
            </div>
            <p class="text-center"><a href="#/login/password-recovery" class="white">Back to recovery form</a></p>
            <div class="spacer" style="height:20px"></div>
            <button class="button button-block button-outline button-white up" ng-click="confirm()">Отправить</button>
        </div>
    </ion-content>
</ion-view>
