<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="logo image mt20">
            <img src="img/logo.png">
        </div>

        <h1 class="text-center white">{{'password_recovery'|translate}}</h1>

        <div class="box mt20">
             <div class="list inputs-on-background">
                <label class="input-label white">{{'new_password'|translate}} *</label>
                <div class="item item-input">
                    <input type="password" ng-model="data.password" placeholder="{{'minimum_8_characters'|translate}}">
                </div>
                <label class="input-label white">{{'confirm_new_password'|translate}} *</label>
                <div class="item item-input">
                    <input type="password" ng-model="data.password_confirm" placeholder="{{'minimum_8_characters'|translate}}">
                </div>
            </div>
        </div>

        <div class="box mt20">
            <button ng-class="{disabled: formDisabled}" class="button button-block button-outline button-white up" ng-click="stepThree()">{{'restore_password'|translate}}</button>
        </div>

    </ion-content>
</ion-view>
