<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">
        <div class="logo image mt20">
            <img src="img/logo.png">
        </div>

        <h1 class="text-center white">Password recovery</h2>
        <p class="text-center white">Choose the way to recover your password</p>

        <div class="box mt20">
            <div class="list inputs-on-background">
                <div class="item item-checkbox item-transparent-white">
                    <label class="checkbox"><input type="radio" name="type" ng-model="data.type" value="email"></label>
                    Send an e-mail
                </div>
                <div class="padding" ng-show="data.type == 'email'">
                    <label class="item item-input">
                        <input type="email" ng-model="data.email" placeholder="Your email...">
                    </label>
                </div>
                <div class="item item-checkbox item-transparent-white">
                    <label class="checkbox"><input type="radio" name="type" ng-model="data.type" value="phone"></label>
                    Send a message on my phone
                </div>
                <div class="padding" ng-show="data.type == 'phone'">
                    <label class="item item-input">
                        <input type="text" ng-model="data.phone" placeholder="Your phone...">
                    </label>
                </div>
            </div>
        </div>

        <div class="box mt20">
            <button class="button button-block button-outline button-white up" ng-click="send()">Отправить</button>
        </div>

    </ion-content>
</ion-view>
