<ion-view title="Profile Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Main" icon="ion-ios-contact" href="#/profile/main">
            <ion-nav-view name="main"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Additional" icon="ion-ios-cloud" href="#/profile/additional">
            <ion-nav-view name="additional"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pass" icon="ion-ios-cloud" href="#/profile/pass">
            <ion-nav-view name="pass"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Address" icon="ion-ios-cloud" href="#/profile/address">
            <ion-nav-view name="address"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>