<ion-view hide-nav-bar="true">
    <ion-content padding="false">

        <div class="logo image mt20">
            <img src="img/logo.png">
        </div>
        <h1 class="text-center">{{'registration'|translate}}</h1>
        <p class="text-center">{{'step'|translate}} 2</p>
        <p class="text-center positive">{{'personal_data'|translate}}</p>

        <div class="box mt20">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'how_call_you'|translate}} <sup>*</sup></span>
                    <div class="item-select">
                        <select ng-model="user.before_fs">
                            <option>{{'mr'|translate}}</option>
                            <option>{{'mrs'|translate}}</option>
                            <option>{{'ms'|translate}}</option>
                        </select>
                    </div>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.fsname" placeholder="{{'name'|translate}}" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <div class="input-label">{{'country_of_residence'|translate}} <sup>*</sup></div>
                    <div class="item-select">
                        <select integer-model ng-model="user.country">
                          <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                        </select>
                    </div>
                </label>
                <div class="item">
                    <span class="input-label">{{'passport_photo'|translate}} <sup>*</sup></span>
                    <choose-image image="user.photo" url="/api/user/register/upload"></choose-image>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'password'|translate}} *</span>
                    <input type="password" ng-model="user.password" placeholder="{{'minimum_8_characters'|translate}}" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'password_confirmation'|translate}} *
                        <span
                        ng-show="password_confirm !== undefined && password_confirm !== user.password"
                        class="error">
                            {{'password_not_mutch'|translate}}
                        </span>
                    </span>
                    <input type="password" ng-model="password_confirm" placeholder="{{'minimum_8_characters'|translate}}" required>
                </label>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    {{'agree_with'|translate}} <a href="#">{{'terms_of_use'|translate}}</a>
                </div>
            </div>

            <div class="padding mt20">
                <button class="button button-stable button-block button-assertive up" ng-click="stepThree()">{{'submit'|translate}}</button>
            </div>

        </div>
    </ion-content>
</ion-view>