<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="logo image mt20">
            <img src="img/logo.png">
        </div>

        <h1 class="text-center white" ng-show="data.confirmation == 'sms'">{{'enter_your_sms_code'|translate}}</h1>
        <h1 class="text-center white" ng-show="data.confirmation == 'email'">{{'enter_code_from_recived_email'|translate}}</h1>
        <p class="text-center white">{{'you_need_to_confirm_your_code_during_1_hour'|translate}}</p>

        <div class="box mt20">
            <div class="list inputs-on-background">
                <label class="item item-input">
                    <input type="number" ng-model="data.code" placeholder="xxxxxx">
                </label>
            </div>
            <div class="spacer" style="height:20px"></div>
            <p class="text-center">
                <a ui-sref="regOne" class="white">{{'back_to_signup_form'|translate}}</a>
            </p>
        </div>

        <div class="padding mt20">
            <button class="button button-block button-outline button-white up" ng-click="stepTwo()">{{'done'|translate}}</button>
        </div>

    </ion-content>
</ion-view>