/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto_100_cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto_100_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto_300_cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto_300_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto_400_cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto_400_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(../fonts/roboto_300_italic_cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(../fonts/roboto_300_italic_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-weight: 100;
}
a {
	color: $positive;
}
.up {
	text-transform: uppercase;
}
//generally for image container
.image {
	width: 100%;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}
.logo {
	width: 30%;
	margin: 0 auto;
}
//for multiple checkboxes in row
.item-clear {
	position: relative;
	display: block;
	margin: 7px 0;
	&.item-checkbox {
		padding-left: 46px;
	}
	.checkbox {
		left: 0;
		padding-left: 0;
	}
}
//label for multiple checkboxes in row
.item-stacked-label-row {
	padding: 6px 0 5px 16px;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}
//tabs position fix for android
.platform-android .view-container .tabs-top .tabs {
	top: 44px !important;
}

.main-background {
	.scroll-content {
		background-image: url(../img/background.jpg);
		background-size: cover;
	}
}

.inputs-on-background {
	background-color: transparent;
	.input-label {
		width: 100%;
	}
	.item-input {
		border: none;
		margin-bottom: 10px;
		border-radius: 2px;
	}
}

.button-outline.button-white {
	border-color: #fff;
	color: #fff;
	&.active, &.activated {
		background-color: #fff;
		border-color: #fff;
		color: $positive;
	}
}
.white {
	color: #fff;
}
.underline {
	text-decoration: underline;
}
.thin {
	font-weight: 300;
}
.on-bottom {

}
.input-label sup {
	color: $positive;
}
.item-transparent-white {
	border: none;
	background-color: transparent;
	.input-label {
		color: white;
		width: 100%;
		max-width: 100%;
	}
	.checkbox input:before, .checkbox-icon:before {
		background-color: transparent;
		border-color: white;
	}
	.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
		background-color: white;
		border-color: white;
	}
	.checkbox input:after, .checkbox-icon:after {
		border-color: $positive;
	}
	background: none;
	color: white;
}
.image-preview {
	border: 1px solid #ddd;
	border-radius: 3px;
	table {
		width: 100%;
		td {
			vertical-align: middle;
		}
	}
	.image {
		width: 70%;
		text-align: center;
		.spinner {
			height: 28px;
			width: 28px;
		}
		img {
			max-width: 100%;
			height: auto;
			vertical-align: bottom;
		}
	}
	.action {
		width: 30%;
		text-align: center;
		border-left: 1px solid #ddd;
		.remove {
			line-height: 100px;
		}
	}
}
.has-header {
	.top-item {
		border-top: none;
	}
}
.item-stacked-label .item-select {
	height: 34px;
	select {
		left: -4px;
		padding: 0;
		max-width: 100%;
		width: 100%;
		direction: ltr;
	}
}