h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-weight: 100;
}
a {
	color: $assertive;
}
.up {
	text-transform: uppercase;
}
.text-right {text-align: right;}
//generally for image container
.image {
	width: 100%;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}
.logo {
	width: 30%;
	margin: 0 auto;
}
//for multiple checkboxes in row
.item-clear {
	position: relative;
	display: block;
	margin: 7px 0;
	&.item-checkbox {
		padding-left: 46px;
	}
	.checkbox {
		left: 0;
		padding-left: 0;
	}
}
//label for multiple checkboxes in row
.item-stacked-label-row {
	padding: 6px 0 5px 16px;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}
//tabs position fix for android
.platform-android .view-container .tabs-top .tabs {
	top: 44px !important;
}

.main-background {
	.scroll-content {
		background-image: url(../img/background.jpg);
		background-size: cover;
	}
}

.inputs-on-background {
	background-color: transparent;
	.input-label {
		width: 100%;
	}
	.item-input {
		border: none;
		margin-bottom: 10px;
		border-radius: 2px;
	}
}

.button-outline.button-white {
	border-color: #fff;
	color: #fff;
	&.active, &.activated {
		background-color: #fff;
		border-color: #fff;
		color: $assertive;
	}
}
.white {
	color: #fff;
}
.underline {
	text-decoration: underline;
}
.thin {
	font-weight: 300;
}
.on-bottom {

}
.input-label sup {
	color: $assertive;
}
.item-transparent-white {
	border: none;
	background-color: transparent;
	.input-label {
		color: white;
		width: 100%;
		max-width: 100%;
	}
	.checkbox input:before, .checkbox-icon:before {
		background-color: transparent;
		border-color: white;
	}
	.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
		background-color: white;
		border-color: white;
	}
	.checkbox input:after, .checkbox-icon:after {
		border-color: $assertive;
	}
	background: none;
	color: white;
}
.image-preview {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
	table {
		width: 100%;
		td {
			vertical-align: middle;
		}
	}
	.image {
		width: 70%;
		text-align: center;
		.spinner {
			height: 28px;
			width: 28px;
		}
		img {
			max-width: 320px;
			height: auto;
			vertical-align: bottom;
		}
	}
	.action {
		width: 30%;
		text-align: center;
		border-left: 1px solid #ddd;
		.remove {
			line-height: 100px;
		}
	}
}
.has-header {
	.top-item {
		border-top: none;
	}
}
.item-stacked-label .item-select {
	height: 34px;
	select {
		left: -4px;
		padding: 0;
		max-width: 100%;
		width: 100%;
		direction: ltr;
	}
}
.menu {
	background-color: $assertive;
	background-image: url('../img/bg-img-positive.jpg');
	background-size: cover;
	.item-content, .item, .bar {
		background-color: transparent;
		&.activated {
			background-color: #222;
		}
	}
	.item {
		color: #fff;
		border-color: rgba(255,255,255,0.1);
		font-weight: 300;
    	font-size: 18px;
    	.icon {
    		width: 24px;
    		display: inline-block;
    	}
	}
}
.input-label {
	font-style: italic;
	color: $assertive;
}
.item-note-large {
	font-size: 18px;
}

.custom-list .item {
	&:first-child {
		border-top: none;
	}
	.item-content {
		p {font-weight: 300;}
	}
	&.item-active .item-content {
		background-color: $calm;
		&, h2, p {color: #fff;}
	}
	&.item-approved .item-content {
		background-color: $balanced;
		&, h2, p {color: #fff;}
	}
}
.menu .logo {width: 50%;}
.icon-huge {
	text-align: center;
	.icon {font-size: 80px;}
}
.item-image .icon {font-size: 40px;}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}
.app-version {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	color: #eee;
}
.hidden {visibility: hidden;}
.visible {visibility: visible;}