<ion-view>
  <ion-nav-title>{{'declaration'|translate}} ID {{declaration.id}}</ion-nav-title>
  <div class="loading-bar-top" ng-class="{'active': loading}"></div>
  <ion-content scroll="true" class="has-header">
      <ion-refresher
        pulling-text=""
        on-refresh="load()">
      </ion-refresher>

      <div class="item fade bar-status-{{declaration.status}}" ng-class="{'in': declaration}">
        {{declaration.status|translate}}
        <div class="item-icon-right">
          <i class="icon {{declaration.status|getStatusIcon}}"></i>
        </div>
      </div>

      <div class="list fade" ng-class="{'in': declaration}">

        <div class="item">
          <span class="label"><i class="icon ion-globe"></i> {{'declaration_country'|translate}}</span>
          <span class="value">{{getById(countries,declaration.country).name}}</span>
        </div>

        <div ng-show="declaration.status == 'created' || declaration.status == 'created_changes'">
          <div class="box"><label for="">{{'choose_delivery_method'|translate}}:</label></div>
          <div class="row box mb20">
            <div class="col">
              <button class="button button-block button-balanced" ng-click="deliveryMethod('post')">
                <i class="icon ion-paper-airplane"></i> {{'post'|translate}}
              </button>
            </div>
            <div class="col">
              <button href="{{declaration.file}}" class="button button-block button-balanced" ng-click="deliveryMethod('courier')">
                <i class="icon ion-person"></i> {{'courier'|translate}}
              </button>
            </div>
          </div>
        </div>

        <div ng-repeat="product in declaration.products">
          <div class="item item-divider">{{'product'|translate}} {{$index+1}}</div>
          <div class="item">
            <span class="label">{{'product_group'|translate}}</span>
            <span class="value multiline">{{product.group}}</span>
          </div>
          <div class="item">
            <span class="label">{{'product_name'|translate}}</span>
            <span class="value multiline">{{product.name}}</span>
          </div>
          <div class="item">
            <span class="label">{{'shop'|translate}}</span>
            <span class="value multiline">{{product.shop}}</span>
          </div>
        </div>

        <div class="item item-divider">{{'total'|translate}}</div>
        <div class="item">
          <span class="label">{{'sum'|translate}}</span> <span class="item-note item-note-large assertive">{{declaration.sum | currency: getCurrencySym(declaration.currency)}}</span>
        </div>
        <div class="item">
          <span class="label">{{'sum_vat'|translate}}</span> <span class="item-note item-note-large assertive">{{declaration.sumVat | currency: getCurrencySym(declaration.currency)}}</span>
        </div>
        <div class="item">
          <span class="label">{{'to_payoff'|translate}}</span> <span class="item-note item-note-large assertive">{{declaration.sumPay | currency: getCurrencySym(declaration.currency)}}</span>
        </div>

      </div>


      <div class="padding">
        <button ng-show="declaration.file && !declarationFile.exist" class="button button-block button-assertive icon-left ion-ios-download-outline" ng-click="downloadDeclaration()">{{'download_declaration'|translate}}</button>
        <button ng-show="declarationFile.exist" class="button button-block button-assertive icon-left ion-document-text" ng-click="openFile(declarationFile.path)">{{'open_declaration'|translate}}</button>
      </div>

      <div class="padding">
        <button ng-show="declaration.invoice && !invoiceFile.exist" class="button button-block button-assertive icon-left ion-ios-download-outline" ng-click="downloadInvoice()">{{'download_invoice'|translate}}</button>
        <button ng-show="invoiceFile.exist" class="button button-block button-assertive icon-left ion-document-text" ng-click="openFile(invoiceFile.path)">{{'open_invoice'|translate}}</button>
      </div>

  </ion-content>
</ion-view>