<ion-view view-title="{{'trips'|translate}}">
	<ion-nav-buttons side="right" ng-show="false">
		<button class="button button-icon button-clear ion-android-add" ng-click="addTrip()"></button>
	</ion-nav-buttons>
    <ion-content class="has-header">
		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>
		<div class="list">
			<div class="item list-status-{{trip.status}}" ng-repeat="trip in trips | orderBy:'-date_end'" ui-sref="main.trip.data({id: trip.id})">
				<h2>{{getById(countries,trip.country_enter).name}} - {{getById(countries,trip.country_leaving).name}} (ID {{trip.id}})</h2>
				<p><i class="icon ion-android-time"></i> {{trip.date_start*1000|date:"dd.MM.yyyy"}} - {{trip.date_end*1000|date:"dd.MM.yyyy"}}</p>
				<div class="item-icon-right">
					<i class="icon {{trip.status|getStatusIcon}}"></i>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>