<ion-view cache-view="false">
    <div class="loading-bar-top" ng-class="{'active': loading}"></div>
    <ion-nav-title>{{'trip_view'|translate}} ID {{trip.id}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button 
        ng-class="{'hide-false': trip.editable}" 
        class="button button-icon button-clear ion-ios-compose-outline hide" ng-click="modalTrip.show()">
        </button>
        <button 
        ng-class="{'hide-false': trip.deletable && !trip.editable}" 
        class="button button-icon button-clear ion-ios-trash-outline hide" ng-click="delete()">
        </button>
    </ion-nav-buttons>

    <ion-content padding="false" scroll="true" class="has-header">

    <div class="item bar-status-{{trip.status}}">
      {{trip.status|translate}}
      <div class="item-icon-right">
        <i class="icon {{trip.status|getStatusIcon}}"></i>
      </div>
    </div>

    <div class="padding bar-status-alert text-center hide" ng-class="{'hide-false': trip.reason && trip.status == 'request'}">
        {{trip.reason}}
    </div>

    <div class="list fade" ng-class="{'in': trip}">

        <div class="item">
            <span class="label"><i class="icon ion-earth"></i> {{'country_arrival'|translate}}</span>
            <span class="value">{{getById(countries,trip.country_enter).name}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-calendar"></i> {{'date_arrival'|translate}}</span>
            <span class="value">{{trip.date_start*1000|date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-android-time"></i> {{'time_arrival'|translate}}</span>
            <span class="value">{{(trip.date_start+trip.time_start)*1000|date:'HH:mm'}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-android-plane"></i> {{'transport'|translate}}</span>
            <span class="value">{{getById(transports,trip.transport_enter).name}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-android-done"></i> {{'passage_number'|translate}}</span>
            <span class="value">{{trip.race_number_enter}}</span>
        </div>

        <div class="item item-divider"></div>

        <div class="item">
            <span class="label"><i class="icon ion-earth"></i> {{'country_departure'|translate}}</span>
            <span class="value">{{getById(countries,trip.country_leaving).name}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-calendar"></i> {{'date_departure'|translate}}</span>
            <span class="value">{{trip.date_end*1000|date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-android-time"></i> {{'time_departure'|translate}}</span>
            <span class="value">{{(trip.date_end+trip.time_end)*1000|date:'HH:mm'}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-android-plane"></i> {{'transport'|translate}}</span>
            <span class="value">{{getById(transports,trip.transport_leaving).name}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-android-done"></i> {{'passage_number'|translate}}</span>
            <span class="value">{{trip.race_number_leaving}}</span>
        </div>
        <div class="item">
            <span class="label"><i class="icon ion-home"></i> {{'residence_address'|translate}}</span>
            <span class="value multiline">{{trip.address}}</span>
        </div>

    </div>
  </ion-content>

</ion-view>