<ion-view view-title="{{'declarations'|translate}}">
	<div class="loading-bar-top" ng-class="{'active': loading}"></div>
	<ion-content class="has-header">
		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>
		<div class="list fade" ng-class="{'in': declarations.length}">
			<div
				ng-repeat="declaration in declarations  | orderBy : '-id'"
				ui-sref="main.declaration({id: declaration.id})"
				class="item list-status-{{declaration.status}}"
				>
				<h2>{{'declaration'|translate}} ID {{declaration.id}}</h2>
				<p>{{getById(countries,declaration.country).name}}</p>
				<div class="item-icon-right">
					<i class="icon {{declaration.status|getStatusIcon}}"></i>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>