<div class="modal">

  <ion-header-bar class="bar-assertive">

    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-trash-outline" ng-click="delete()"></button>
    </div>
    <h1 class="title">{{'card_editing'|translate}}</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-close" ng-click="closeModal()"></button>
    </div>

  </ion-header-bar>

  <ion-content padding="false" scroll="true" class="has-header">

    <form class="list">

      <label class="item item-input item-stacked-label">
        <div class="input-label">{{'card_number'|translate}} <sup>*</sup></div>
        <input type="text" ng-model="card.number" required>
      </label>

      <label class="item item-input item-stacked-label">
        <div class="input-label">{{'expire_month'|translate}} <sup>*</sup></div>
        <input type="text" ng-model="card.expire_month" required>
      </label>

      <label class="item item-input item-stacked-label">
        <div class="input-label">{{'expire_year'|translate}} <sup>*</sup></div>
        <input type="text" ng-model="card.expire_year" required>
      </label>

      <div class="item item-toggle">
        {{'set_as_default'|translate}}
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="card.is_default">
          <div class="track"><div class="handle"></div></div>
        </label>
      </div>

    </form>

    <div class="padding">
      <button ng-class="{disabled: !form.$valid}" class="button button-stable button-block button-assertive up" ng-click="create()">{{'done'|translate}}</button>
    </div>

  </ion-content>

</ion-view>