<ion-view title="{{'card'|translate}}">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">

        <ion-refresher
          pulling-text=""
          on-refresh="load()">
        </ion-refresher>

        <div class="list">

            <div ng-show="card.is_default" class="item status-bar status-selected">
              <p><i class="icon ion-android-done"></i> {{'is_default_card'|translate}}</p>
            </div>

            <div class="item">
              <span class="label">{{'card_number'|translate}}</span>
              <span class="value">{{card.number|cardNumber}}</span>
            </div>

            <div class="item">
              <span class="label">{{'expire_date'|translate}}</span>
              <span class="value">{{card.expire_date|date:'MM/yyyy'}}</span>
            </div>

        </div>

    </ion-content>
</ion-view>