<ion-view view-title="{{'cards'|translate}}">

	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-android-add" ng-click="add()"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>
		<div class="list">
			<div
				ng-repeat="card in cards  | orderBy : '-id'"
				ui-sref="main.card({id: card.id})"
				class="item status-card"
				>
				<h2><span ng-show="card.is_taxfree_card">TaxFree4U </span>{{'card'|translate}}</h2>
				<p>{{card.num}}</p>
				<div class="item-icon-right">
					<i class="icon ion-android-done" ng-show="card.is_default"></i>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>