<div class="modal">
  <ion-header-bar class="bar-assertive">
    <h1 class="title">{{'profile_edit'|translate}}</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-close" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content padding="false" scroll="true" class="has-header">
    <form name="form">
      <div class="list">
        <label class="item item-input item-stacked-label top-item">
          <span class="input-label">{{'how_call_you'|translate}} <sup>*</sup></span>
          <div class="item-select">
            <select ng-model="user.profile.before_fs">
              <option value="mr">{{'mr'|translate}}</option>
              <option value="mrs">{{'mrs'|translate}}</option>
              <option value="miss">{{'ms'|translate}}</option>
            </select>
          </div>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="user.profile.fsname" placeholder="Ф.И.О." required>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'birthday'|translate}} <sup>*</sup></div>
          <input datetime type="date" ng-model="user.profile.passp_birthday" required>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'sex'|translate}} <sup>*</sup></div>
          <div class="item-select">
            <select ng-model="user.profile.passp_sex" required>
              <option value="">{{'empty'|translate}}</option>
              <option value="m">{{'m'|translate}}</option>
              <option value="f">{{'f'|translate}}</option>
            </select>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'citizenship'|translate}} <sup>*</sup></div>
          <div class="item-select">
            <select integer-model ng-model="user.profile.passp_citizenship" required>
              <option value="">{{'empty'|translate}}</option>
              <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
            </select>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'country'|translate}} <sup>*</sup></div>
          <div class="item-select">
            <select integer-model ng-model="user.profile.country" required>
              <option value="">{{'empty'|translate}}</option>
              <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
            </select>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'passport_number'|translate}} <sup>*</sup></div>
          <input type="text" minlength="8" ng-model="user.profile.passp_number" placeholder="ET000001" required>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'passport_country'|translate}} <sup>*</sup></div>
          <div class="item-select">
            <select integer-model ng-model="user.profile.passp_country" required>
              <option value="">{{'empty'|translate}}</option>
              <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
            </select>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'passport_date'|translate}} <sup>*</sup></div>
          <input datetime type="date" ng-model="user.profile.passp_date" required>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'email'|translate}} <sup>*</sup></div>
          <input type="email" ng-model="user.profile.email" required>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">{{'phone'|translate}} <sup>*</sup></div>
          <div class="item-select">
            <select integer-model ng-model="user.profile.phone_country" required>
              <option value="">{{'empty'|translate}}</option>
              <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}} {{country.phone_code}}</option>
            </select>
          </div>
        </label>
        <label class="item">
          <input type="tel" ng-model="user.profile.phone" required>
        </label>
        <div class="item">
          <span class="input-label">{{'passport_photo'|translate}} <sup>*</sup></span>
          <choose-images single="true" images="user.images" url="api/user/upload" params="user.params"></choose-images>
        </div>
      </div>

    </form>

    <div class="padding">
      <button ng-class="{disabled: !(form.$valid && isLoaded(user.images))}" class="button button-stable button-block button-assertive up" ng-click="update()">{{'done'|translate}}</button>
    </div>

  </ion-content>
</div>
