<ion-view title="Профиль">
    <ion-content padding="false" scroll="true" class="has-header">
        <form>
            <div class="list">
                <label class="item item-input item-stacked-label top-item">
                    <span class="input-label">{{'old_password'|translate}} *</span>
                    <input type="password" placeholder="{{'minimum_8_characters'|translate}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'new_password'|translate}} *</span>
                    <input type="password" placeholder="{{'enter_password_'|translate}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'confirm_new_password'|translate}} *</span>
                    <input type="password" placeholder="{{'repeat_password'|translate}}">
                </label>
            </div>
            <div class="spacer" style="height:20px"></div>
            <div class="padding">
                <button class="button button-stable button-block button-assertive up" ng-click="save()">{{'save'|translate}}</button>
            </div>
        </form>
    </ion-content>
</ion-view>