<ion-view title="{{'profile'|translate}}">
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content padding="false" scroll="true" class="has-header">

        <div class="list">

            <div class="item item-divider">{{'name'|translate}}</div>
            <div class="item">{{user.profile.before_fs | translate}} {{user.profile.fsname}}</div>

            <div class="item item-divider">{{'birthday'|translate}}</div>
            <div class="item">{{user.profile.passp_birthday}}</div>

            <div class="item item-divider">{{'sex'|translate}}</div>
            <div class="item">{{user.profile.passp_sex|translate}}</div>

            <div class="item item-divider">{{'citizenship'|translate}}</div>
            <div class="item">{{getById(countries,user.profile.passp_citizenship).name}}</div>

            <div class="item item-divider">{{'country'|translate}}</div>
            <div class="item">{{getById(countries,user.profile.country).name}}</div>

            <div class="item item-divider">{{'passp_number'|translate}}</div>
            <div class="item">{{user.profile.passp_number}}</div>

            <div class="item item-divider">{{'passp_country'|translate}}</div>
            <div class="item">{{getById(countries,user.profile.passp_country).name}}</div>

            <div class="item item-divider">{{'passp_date'|translate}}</div>
            <div class="item">{{user.profile.passp_date}}</div>

            <div class="item item-divider">{{'email'|translate}}</div>
            <div class="item">{{user.profile.email}}</div>

            <div class="item item-divider">{{'phone'|translate}}</div>
            <div class="item">{{getById(countries,user.profile.phone_country).phone_code}} {{user.profile.phone}}</div>

            <div class="item item-divider">{{'photos_passport'|translate}}</div>
            <div class="item">
                <img class="full-image" ng-src="{{Domain}}{{user.profile.passport}}" alt="" image-viewer>
            </div>
        </div>

    </ion-content>
</ion-view>