<ion-view title="Профиль">
    <ion-content padding="false" scroll="true" class="has-header">
        <ion-refresher
            pulling-text=""
            on-refresh="doRefresh()">
        </ion-refresher>
        <form>
            <div class="list">
                <label class="item item-input item-select top-item">
                    <span class="input-label">Как к Вам обращаться? <sup>*</sup></span>
                    <select ng-model="user.profile.before_fs">
                        <option value="mr">Mr.</option>
                        <option value="mrs">Mrs.</option>
                        <option value="ms">Ms.</option>
                    </select>
                </label>

                <label class="item item-input">
                    <input type="text" ng-model="user.profile.fsname" placeholder="Ф.И.О.">
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Дата рождения <sup>*</sup></div>
                    <input type="date" ng-model="user.profile.passp_birthday">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Пол <sup>*</sup></div>
                    <select ng-model="user.profile.passp_sex">
                        <option value="m">Муж.</option>
                        <option value="f">Жен.</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Гражданство <sup>*</sup></div>
                    <select integer-model ng-model="user.profile.passp_citizenship">
                        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Страна проживания <sup>*</sup></div>
                    <select ng-model="user.profile.country">
                        <option value="1">Украина</option>
                        <option value="2">Россия</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Номер паспорта <sup>*</sup></div>
                    <input type="text" ng-model="user.profile.passp_number" placeholder="ET000001">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Страна выдачи <sup>*</sup></div>
                    <select integer-model ng-model="user.profile.passp_country">
                        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Срок действия <sup>*</sup></div>
                    <input type="date" ng-model="user.profile.passp_date">
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Електронная почта <sup>*</sup></div>
                    <input type="email" ng-model="user.profile.email">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Номер телефона <sup>*</sup></div>
                    <select integer-model ng-model="user.profile.phone_country">
                        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}} {{country.phone_code}}</option>
                    </select>
                </label>

                <label class="item item-input">
                    <input type="tel" ng-model="user.profile.phone">
                </label>

                <div class="item">
                    <span class="input-label">Фото загранпаспорта <sup>*</sup></span>
                    <choose-image image="user.profile.passport"></choose-image>
                </div>
            </div>

            <div class="spacer" style="height:20px"></div>
            <div class="padding">
                <button class="button button-stable button-block button-positive up" ng-click="update()">Сохранить</button>
            </div>
        </form>
    </ion-content>
</ion-view>