<ion-view ng-init="showStatusBar()">
    <ion-tabs class="tabs-icon-left tabs-background-assertive tabs-color-light">
        <ion-tab title="{{'personal_data'|translate}}" icon="ion-ios-contact" ui-sref="main.user.profile">
            <ion-nav-view name="profile"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{'password'|translate}}" icon="ion-ios-locked" ui-sref="main.user.password">
            <ion-nav-view name="password"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
