<ion-view title="SignUp">
    <ion-content padding="'true'" scroll="true" class="has-header">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="http://placehold.it/200x100">
        </div>
        <h2 class="text-center">Enter your SMS code</h2>
        <p class="text-center">You need to confirm your code during 1 hour</p>

        <div class="spacer" style="height:20px"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="xxxxxxxx">
                </label>
            </ion-list>
            <div class="spacer" style="height:20px"></div>
            <p class="text-center">
                <a href="#/signup">Back to sign up form</a>
            </p>
            <div class="spacer" style="height:10px"></div>
            <a href="#/signup/reg" class="button button-stable button-block button-positive">Confirm</a>
        </form>
    </ion-content>
</ion-view>