<ion-view title="Password Recovery">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>
        <h2 class="text-center">Password recovery</h2>
        <div class="spacer" style="height:20px"></div>
        <form>
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">New password *</span>
                    <input type="password" ng-model="data.password" placeholder="Min. 8 characters">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirm new password *</span>
                    <input type="password" placeholder="Min. 8 characters">
                </label>
            </ion-list>
        </form>
        <div class="spacer" style="height:20px"></div>
        <button class="button button-stable button-block button-positive" ng-click="restore()">Restore password</button>
    </ion-content>
</ion-view>
