<ion-view title="Password Recovery">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>
        <h2 class="text-center">Password recovery</h2>
        <p class="text-center">Choose the way to recover your password</p>
        <div class="spacer" style="height:20px"></div>
        <form>
            <ion-list>
                <div class="item item-checkbox">
                    <label class="checkbox"><input type="radio" name="type" ng-model="data.type" value="email"></label>
                    Send an e-mail
                </div>
                <label class="item item-input item-stacked-label" ng-show="data.type == 'email'">
                    <input type="email" ng-model="data.email" placeholder="Your email...">
                </label>
                <div class="item item-checkbox">
                    <label class="checkbox"><input type="radio" name="type" ng-model="data.type" value="phone"></label>
                    Send a message on my phone
                </div>
                <label class="item item-input item-stacked-label" ng-show="data.type == 'phone'">
                    <input type="text" ng-model="data.phone" placeholder="Your phone...">
                </label>
            </ion-list>
        </form>
        <div class="spacer" style="height:20px"></div>
        <button class="button button-stable button-block button-positive" ng-click="send()">Send request</button>
    </ion-content>
</ion-view>
