<ion-view title="SignUp">
    <ion-content padding="'true'" scroll="true" class="has-header">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>
        <h2 class="text-center">Sign up step 2</h2>
        <p class="text-center">Personal data</p>

        <div class="spacer" style="height:20px"></div>
        <form class="list" name="regForm">
            <ion-list>
                <label class="item item-input item-select">
                    <span class="input-label">How can we call You? *</span>
                    <select>
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Ms.</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">Country of residence *</div>
                    <select>
                        <option>Russia</option>
                        <option selected>Ukraine</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Home adress *</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>


            Photo: <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>
            <i ng-show="regForm.file.$error.required">*required</i>

            <i ng-show="regForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="regForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
            <button ng-click="picFile = null" ng-show="picFile">Remove</button>

            <button ng-disabled="!regForm.$valid" ng-click="uploadPic(picFile)">Submit</button>
            <span class="progress" ng-show="picFile.progress >= 0">
              <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>



            <div class="spacer" style="height:20px"></div>
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password *</span>
                    <input type="password" placeholder="Min. 8 characters">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirm password *</span>
                    <input type="password" placeholder="Min. 8 characters">
                </label>
            </ion-list>
            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                I agree with <a href="#/help">terms and conditions</a>
            </div>
            <div class="spacer" style="height:20px"></div>
            <button class="button button-stable button-block button-positive" ng-click="save()">Send data</button>
        </form>
    </ion-content>
</ion-view>