<ion-view title="Sign In">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>
        <h2 class="text-center">Sign in</h2>

        <div class="spacer" style="height:20px"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-mail (login) *</span>
                    <input type="email" ng-model="data.email" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="data.password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 10px;"></div>
            <p><a href="#/login/password-recovery">Forgot password?</a></p>
            <button class="button button-stable button-block button-positive" ng-click="signin()">Sign In</button>
            <div class="spacer" style="height: 10px;"></div>
            <p class="text-center">New to TaxFree4U?</p>
            <p class="text-center"><a href="#/login/signup">Sign up</a></p>
        </form>
    </ion-content>
</ion-view>