<ion-view title="Conformation">
    <ion-content padding="'true'" scroll="true" class="has-header">
        <div class="spacer" style="height:20px"></div>
        <div class="logo image">
            <img src="img/logo.png">
        </div>
        <h2 class="text-center" ng-show="data.type == 'phone'">Enter your SMS code</h2>
        <h2 class="text-center" ng-show="data.type == 'email'">Enter code from recived email</h2>
        <p class="text-center">You need to confirm your code during 1 hour</p>

        <div class="spacer" style="height:20px"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <input type="text" ng-model="data.code" placeholder="xxxxxxxx">
                </label>
            </ion-list>
            <div class="spacer" style="height:20px"></div>
            <p class="text-center">
                <a href="#/login/signup">Back to sign up form</a>
            </p>
            <div class="spacer" style="height:10px"></div>
            <button class="button button-stable button-block button-positive" ng-click="confirm()">Confirm</button>
        </form>
    </ion-content>
</ion-view>