<ion-view>
  <ion-nav-title>{{'check'|translate}} ID {{check.id}}</ion-nav-title>
  <div class="loading-bar-top" ng-class="{'active': loading}"></div>
  <ion-nav-buttons side="right">
    <button ng-class="{'hide-false': check.deletable}" class="button button-icon button-clear ion-ios-trash-outline hide" ng-click="delete()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <ion-refresher
      pulling-text=""
      on-refresh="load()">
    </ion-refresher>

    <div class="padding">
      <h1>{{'check'|translate}} ID {{check.id}}</h1>
      <p ui-sref="main.trip.data({id: check.trip})" ng-show="check.country_enter && check.country_leaving"><i class="icon ion-earth"></i> {{check.country_enter}} - {{check.country_leaving}}</p>
    </div>

    <div class="item bar-status-{{check.status}}">
      {{check.status|translate}}
      <div class="item-icon-right">
        <i class="icon {{check.status|getStatusIcon}}"></i>
      </div>
    </div>

    <div class="padding bar-status-alert text-center hide" ng-class="{'hide-false': check.reason && check.status == 'request'}">
      {{check.reason}}
    </div>

    <div class="padding status-bar text-center assertive" ng-hide="check.files.length">
      <p>{{'no_check_photos'|translate}}</p>
    </div>

    <div class="card card-image" ng-repeat="file in check.files">
      <div class="item item-image">
        <div ng-show="check.editable" ng-click="deletePhoto($index)" class="text-right padding"><i class="icon ion-close"></i></div>
        <img image-viewer safe-src="{{file}}" onerror="this.src = 'img/noimage.svg'">
      </div>
    </div>

    <form class="padding">
      <div class="list" ng-show="check.editable">
        <div>
          <choose-images images="check.images" url="api/check/upload"></choose-images>
        </div>
        <div>
          <button ng-disabled="check.images.length == 0" class="button button-stable button-block button-assertive up" ng-click="update()">{{'done'|translate}}</button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
