<div class="modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Добавление поездки</h1>
    <div class="buttons"><button class="button-clear ion-close" ng-click="closeModal()"></button></div>
  </ion-header-bar>
  <ion-content padding="false" scroll="true" class="has-header">
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">Страна приезда <sup>*</sup></div>
          <select integer-model ng-model="trip.info.country_enter">
            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Дата приезда <sup>*</sup></div>
          <input type="date" ng-model="trip.info.date_start">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Транспорт <sup>*</sup></div>
          <select integer-model ng-model="trip.info.transport_enter">
            <option ng-repeat="transport in transports" value="{{transport.id}}">{{transport.name}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Номер рейса <sup>*</sup></div>
          <input type="text" ng-model="trip.info.race_number_enter">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Страна выезда <sup>*</sup></div>
          <select integer-model ng-model="trip.info.country_leaving">
            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Дата выезда <sup>*</sup></div>
          <input type="date" ng-model="trip.info.date_end">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Транспорт <sup>*</sup></div>
          <select integer-model ng-model="trip.info.transport_leaving">
            <option ng-repeat="transport in transports" value="{{transport.id}}">{{transport.name}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Номер рейса <sup>*</sup></div>
          <input type="text" ng-model="trip.info.race_number_leaving">
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Адрес проживания <sup>*</sup></div>
          <input type="text" ng-model="trip.info.address">
        </label>
      </div>
      <div class="spacer" style="height:20px"></div>
      <div class="padding">
        <button class="button button-stable button-block button-positive up" ng-click="create()">Сохранить</button>
      </div>
    </form>
  </ion-content>
</div>