<ion-view>
  <ion-nav-title>{{trip.from_country}} - {{trip.to_country}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button-clear ion-plus button-positive" ng-click="addTrip()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="true" class="has-header">
    <form class="list">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">Страна приезда <sup>*</sup></div>
          <select ng-model="trip.from_country">
            <option value="Украина">Украина</option>
            <option value="США">США</option>
            <option value="Италия">Италия</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Дата приезда <sup>*</sup></div>
          <input type="date" ng-model="trip.from_time">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Транспорт <sup>*</sup></div>
          <select ng-model="trip.from_transport_type">
            <option value="flight">Самолет</option>
            <option value="railway">Поезд</option>
            <option value="bus">Автобус</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Номер рейса <sup>*</sup></div>
          <input type="text" ng-model="trip.from_transport_number">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Страна выезда <sup>*</sup></div>
          <select ng-model="trip.to_country">
            <option value="Украина">Украина</option>
            <option value="США">США</option>
            <option value="Италия">Италия</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Дата выезда <sup>*</sup></div>
          <input type="date" ng-model="trip.to_time">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Транспорт <sup>*</sup></div>
          <select ng-model="trip.to_transport_type">
            <option value="flight">Самолет</option>
            <option value="railway">Поезд</option>
            <option value="bus">Автобус</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Номер рейса <sup>*</sup></div>
          <input type="text" ng-model="trip.to_transport_number">
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Адрес проживания <sup>*</sup></div>
          <input type="text" ng-model="trip.address">
        </label>
      </div>
      <div class="spacer" style="height:20px"></div>
      <div class="padding">
        <button class="button button-stable button-block button-positive up" ng-click="save()">Сохранить</button>
      </div>
    </form>
  </ion-content>

</ion-view>