<ion-view cache-view="false">
  <ion-nav-title>{{'trip_view'|translate}}</ion-nav-title>
  <ion-nav-buttons side="right" ng-show="false">
    <button ng-class="{visible: trip.editable}" class="button button-icon button-clear ion-ios-compose-outline hidden" ng-click="editTrip()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="true" class="has-header">

    <div class="list custom-list">

        <div class="item item-divider">{{'country_arrival'|translate}}</div>
        <div class="item">{{getById(countries,trip.country_enter).name}}</div>

        <div class="item item-divider">{{'date_arrival'|translate}}</div>
        <div class="item">{{trip.date_start*1000|date:'dd/MM/yyyy'}}</div>

        <div class="item item-divider">{{'time_arrival'|translate}}</div>
        <div class="item">{{trip.time_start*1000|date:'HH:mm'}}</div>

        <div class="item item-divider">{{'transport'|translate}}</div>
        <div class="item">{{getById(transports,trip.transport_enter).name}}</div>

        <div class="item item-divider">{{'passage_number'|translate}}</div>
        <div class="item">{{trip.race_number_enter}}</div>

        <div class="item item-divider">{{'country_departure'|translate}}</div>
        <div class="item">{{getById(countries,trip.country_leaving).name}}</div>

        <div class="item item-divider">{{'date_departure'|translate}}</div>
        <div class="item">{{trip.date_end*1000|date:'dd/MM/yyyy'}}</div>

        <div class="item item-divider">{{'time_departure'|translate}}</div>
        <div class="item">{{trip.time_end*1000|date:'HH:mm'}}</div>

        <div class="item item-divider">{{'transport'|translate}}</div>
        <div class="item">{{getById(transports,trip.transport_leaving).name}}</div>

        <div class="item item-divider">{{'passage_number'|translate}}</div>
        <div class="item">{{trip.race_number_leaving}}</div>

        <div class="item item-divider">{{'residence_address'|translate}}</div>
        <div class="item">{{trip.address}}</div>

    </div>
  </ion-content>

</ion-view>