<ion-view title="Additional">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Birth date</span>
                    <input type="date" placeholder="" ng-model="user.birth_date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Goverment</span>
                    <input type="text" placeholder="" ng-model="user.goverment">
                </label>
                <div class="list list-inset">
                    <span class="input-label">Gender</span>
                    <ul class="list">
                        <li class="item item-checkbox">
                            <label class="checkbox"><input name="gender" type="radio"></label>
                            Male
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox"><input name="gender" type="radio"></label>
                            Famale
                        </li>
                    </ul>
                </div>
                <label class="item item-input">
                    <span class="input-label">Skype</span>
                    <input type="text" placeholder="" ng-model="user.skype">
                </label>
            </ion-list>
        </form>
    </ion-content>
</ion-view>