<ion-view title="Профиль">
    <ion-content padding="false" scroll="true" class="has-header">
        <form>
            <div class="list">

                <label class="item item-input item-select top-item">
                    <span class="input-label">Как к Вам обращаться? <sup>*</sup></span>
                    <select ng-model="user.honorific">
                        <option value="mr">Mr.</option>
                        <option value="mrs">Mrs.</option>
                        <option value="ms">Ms.</option>
                    </select>
                </label>

                <label class="item item-input">
                    <input type="text" ng-model="user.fullname" placeholder="Ф.И.О.">
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Дата рождения <sup>*</sup></div>
                    <input type="date" ng-model="user.birthday">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Гражданство <sup>*</sup></div>
                    <select ng-model="user.goverment">
                        <option value="ru">Россия</option>
                        <option value="ua">Украина</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Страна проживания <sup>*</sup></div>
                    <select ng-model="user.country">
                        <option value="ru">Россия</option>
                        <option value="ua">Украина</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Номер паспорта <sup>*</sup></div>
                    <input type="text" ng-model="user.passport" placeholder="ET000001">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Страна выдачи <sup>*</sup></div>
                    <select ng-model="user.passport_country">
                        <option value="ru">Россия</option>
                        <option value="ua">Украина</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Срок действия <sup>*</sup></div>
                    <input type="date" ng-model="user.passport_validiti">
                </label>

                <label class="item item-input item-stacked-label">
                    <div class="input-label">Електронная почта <sup>*</sup></div>
                    <input type="email" ng-model="user.email">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Номер телефона <sup>*</sup></div>
                    <select ng-model="user.phone_code">
                        <option value="+7">Россия (+7)</option>
                        <option value="+38">Украина (+38)</option>
                    </select>
                </label>

                <label class="item item-input">
                    <input type="text" ng-model="user.phone">
                </label>

                <div class="item">
                    <span class="input-label">Фото загранпаспорта <sup>*</sup></span>

                    <div ng-hide="data.loading || user.photo" ng-click="selectPhoto()" class="button button-block button-outline button-positive">
                        <i class="icon ion-ios-plus-empty"></i> Загрузить фото
                    </div>

                    <div class="image-preview" ng-show="data.loading || user.photo">
                        <table class="table spinner-table">
                            <tr>
                                <td class="image" ng-click="viewImage(user.photo)">
                                    <ion-spinner icon="spiral" class="spinner-positive" ng-show="data.loading"></ion-spinner>
                                    <img ng-show="user.photo" ng-src="{{user.photo}}" />
                                </td>
                                <td class="action">
                                    <div class="remove" ng-click="user.photo = null;">
                                        <i class="icon ion-android-close"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </div>

            <div class="spacer" style="height:20px"></div>
            <div class="padding">
                <button class="button button-stable button-block button-positive up" ng-click="save()">Сохранить</button>
            </div>
        </form>
    </ion-content>
</ion-view>