<ion-view title="Main Info">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Surname</span>
                    <input type="password" placeholder="" ng-model="user.surname">
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="" ng-model="user.phone">
                </label>
            </ion-list>
        </form>
    </ion-content>
</ion-view>