<ion-view>
  <ion-nav-title>{{check.title}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button-clear ion-plus" ng-click="openModal()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="true" class="has-header">
    <h1>{{check.title}}</h1>
    <div class="card card-image" ng-repeat="image in check.images">
      <div class="item item-image">
        <img ng-src="{{image.url}}" alt="">
      </div>
    </div>
    <form>
      <div class="list">
        <div>
          <choose-image image="profile.photo"></choose-image>
        </div>
        <div>
          <button class="button button-stable button-block button-positive up" ng-click="closeModal()">Сохранить</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
