<ion-view view-title="{{'payments'|translate}}">
	<div class="loading-bar-top" ng-class="{'active': loading}"></div>
	<ion-content class="has-header">
		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>
		<div class="list fade" ng-class="{'in': payments.length}">
			<div
				ng-repeat="payment in payments  | orderBy : '-complete_time'"
				class="item"
				ui-sref="main.declaration({id: payment.declaration_id})"
				>
				<h2>{{payment.total_sum | currency}}</h2>
				<p><i class="icon ion-android-time"></i> {{payment.complete_time}}</p>
				<p><i class="icon ion-earth"></i> {{payment.country_enter}} - {{payment.country_leaving}}</p>
				<div class="item-icon-right">
					<i class="icon ion-ios-checkmark-empty"></i>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>