<ion-view title="{{'about_taxfree_card'|translate}}">
	<ion-content class="has-header" padding="true">

		<div class="padding">

			<h4>Customer Benefits</h4>
			<ul class="ul-list">
				<li>Save up to 19% of your money after shopping in the EU</li>
				<li>Refund within 48 hours</li>
				<li>Beneficial conditions of VAT refund onto Tax Free card</li>
				<li>Our card is valid worldwide</li>
			</ul>

			<h4>Customer information</h4>
			<ul class="ul-list">
				<li>Comission</li>
				<li>Card Limits</li>
				<li>Tax Free Return onto a card</li>
			</ul>

			<h4>FAQ</h4>

			<h4>How to use a card</h4>
			<ul class="ul-list">
				<li>Verification</li>
				<li>Card activation</li>
				<li>Card refill</li>
				<li>Safety Rules</li>
				<li>Using a card</li>
			</ul>

		</div>

	</ion-content>
</ion-view>