<ion-view title="{{'about'|translate}}">
	<ion-content class="has-header" padding="true">
		<h4>Acerca de nosotros</h4>
		<p>TaxFree4U es un servicio en línea de devolución del IVA creado para que sus compras en la UE le resulten beneficiosas. TAXFREE4U se dedica a facilitar y hacer más beneficiosas las transacciones comerciales entre comerciantes y sus clientes extranjeros.</p>
		<p>Nuestro proceso de devolución del IVA es el más sencillo de todos los que existen en el mercado y, por eso, brinda a los clientes más tiempo para disfrutar de las compras.  Proporcionamos a los residentes no comunitarios un servicio innovador con la devolución más rápida y los costes por servicio más reducidos. Nuestros clientes reciben una devolución de hasta el 19 % del precio de sus compras.</p>
		<p>Nuestra empresa ha creado una plataforma única en línea que permite a los clientes pedir la devolución del IVA con solo seis sencillos pasos.</p>
		<p>Para la comodidad de los clientes, ofrecemos una tarjeta de compras TaxFree4U como parte del servicio. La tarjeta de compras les brindará la oportunidad de obtener la devolución del IVA en la tarjeta TaxFree emitida por Bank4U </p>

		<h4>Perfil de la empresa</h4>
		<ul class="ul-list">
			<li>El servicio TaxFree4U está disponible para clientes de todo el mundo.</li>
			<li>Nuestras empresas tienen sedes sociales en 5 países de la Unión Europea: Francia, Alemania, Italia, España y Reino Unido.</li>
			<li>Como estamos desarrollando nuestro servicio, podrá aprovecharse de las compras TaxFree4U en más países dentro de muy poco tiempo.</li>
			<li>Nuestros servicios destacan por su eficacia e innovaciones tecnológicas</li>
			<li>Nuestras estructuras de trabajo proporcionan la máxima comodidad para los clientes y comerciantes</li>
			<li>Nuestras condiciones financieras son flexibles y atractivas</li>
			<li>El reembolso de impuestos se transferirá a la tarjeta de compras Tax Free dentro de las 48 horas siguientes a la presentación de la declaración validada</li>
		</ul>
	</ion-content>
</ion-view>