<ion-view title="{{'about_taxfree_card'|translate}}">
	<ion-content class="has-header" padding="true">

		<div class="padding">

			<h4>Customer Benefits</h4>
			<ul class="ul-list">
				<li><b>Money saving instrument:</b> you can make up to 19% savings on purchases abroad</li>
				<li><b>Quick and simple VAT refund:</b> you can easily get your paid VAT after shopping in Europe within 48 working hours</li>
				<li><b>Advantageous VAT refund conditions:</b> we offer beneficial rates loading to the Tax Free card</li>
				<li><b>International operations:</b> we offer our clients one card which can be used all over the world</li>
				<li><b>Easy card obtaining:</b> we offer simple procedure of card delivery worldwide</li>
				<li><b>Online account:</b> most card operations can be managed</li>
				<li><b>Credit risk free:</b> there are no chances of having a negative balance</li>
				<li><b>Worldwide loading:</b> our card can be loaded from all over the world</li>
				<li><b>Reliability and safety:</b> your card will be protected with our modern system</li>
			</ul>

			<h4>Tax Free Refund</h4>
			<p>Tax-Free Card is a unique and useful tool for getting Tax Free refund. In order to get the Tax-Free refund you need:</p>
			<ul class="ul-list">
				<li>Order and activate your Tax-Free card online, using link;</li>
				<li>Make purchases;</li>
				<li>Place an order on the Tax-Free refund on the site, using link and agree to receive funds to the Tax-Free card;</li>
				<li>Receive filled declaration form;</li>
				<li>Stamp this declaration at customs control;</li>
				<li>Send it to our Company. Tax-Free refund will be loaded to the card within 48 business hours upon our receipt of your declaration. Pay attention, card should be active for the successful receiving of Tax-Free refund.</li>
			</ul>

		</div>

	</ion-content>
</ion-view>