<ion-view title="{{'about_taxfree_card'|translate}}">
	<ion-content class="has-header" padding="true">

		<div class="padding">

			<h4>Преимущества карты</h4>
			
			<ul class="ul-list">
				<li><b>Инструмент экономии средств:</b> Вы можете экономить до 19% от цены товаров, совершая покупки в Европе</li>
				<li><b>Быстрый и простой возврат НДС:</b> Вы легко можете получить возврат НДС после совершения покупок в Европе в течение 48 рабочих часов</li>
				<li><b>Выгодные условия возврата НДС:</b> Мы предлагаем выгодные условия зачисления возврата НДС на карту Tax-Free - всего 0.5 GBP/EUR, вместо 2%+5 EUR/GBP для зачисления на другие карты</li>
				<li><b>Широкие операционные возможности:</b> Мы предлагаем выгодные условия зачисления возврата НДС на карту Tax-Free - всего 0.5 GBP/EUR, вместо 2%+5 EUR/GBP для зачисления на другие карты</li>
				<li><b>Простота получения карты:</b> Мы предлагаем простую процедуру получения карты где бы не находился клиент, которая сэкономит его время. Мы осуществляем бесплатную доставку карты во все страны мира</li>
				<li><b>Управление картой онлайн:</b> Мы предлагаем нашим клиентам онлайн кабинет, где они легко смогут управлять всеми типами карточных операций</li>
				<li><b>Отсутствие кредитных рисков:</b> Нашим клиентам не стоит беспокоится о том, что карты будет иметь отрицательный баланс</li>
				<li><b>Пополнение карты с любой точки мира:</b> Вам доступна загрузка карты с помощью большинства валют мира</li>
				<li><b>Надежность и безопасность:</b> Наша карта защищена от мошеннических операций и хищения персональных данных благодаря современной системе карточной защиты и круглосуточному мониторингу операций</li>
			</ul>

			<h4>Tax-Free возврат на карты</h4>
			<p>Tax-Free карта является уникальным и полезным инструментом для получения возврата Tax Free. Для получения возврата вам необходимо:</p>
			<ul class="ul-list">
				<li>Заказать и активировать карту Tax-Free;</li>
				<li>Осуществить покупки;</li>
				<li>Разместить заказ на возврат Tax-Free на сайте и согласится получить средства на карту;</li>
				<li>Получить заполненную форму декларации;</li>
				<li>Проштамповать декларацию на таможне;</li>
				<li>Отправить ее в нашу Компанию. Tax-Free возврат будет зачислен на карту в течение 48 рабочих часов от момента получения вашей декларации. Обратите внимание, карта должна быть активна для успешного получения Tax-Free возврата.</li>
			</ul>

		</div>

	</ion-content>
</ion-view>