<ion-view title="{{'about'|translate}}">
	<ion-content class="has-header" padding="true">
		<h4>Об услуге</h4>
		<p>TaxFree4U – онлайн-сервис для возврата НДС, созданный специально для выгодного шоппинга в ЕС. TAXFREE4U создан для того, чтобы сделать розничные сделки между продавцами и их зарубежными клиентами более простыми и выгодными.</p>
		<p>Процесс возврата НДС при нашем содействии проще, чем любой существующий аналог на рынке, а значит, у наших клиентов больше времени, чтобы насладиться шоппингом. Мы предлагаем нерезидентам ЕС инновационную услугу, обеспечивающую самый быстрый возврат и самую низкую комиссию за обслуживание. Наши клиенты получают возврат в размере до 19% от суммы своих покупок.</p>
		<p>Наша компания создала уникальную онлайн-платформу, которая позволяет клиентам вернуть НДС, пройдя шесть простых шагов. Для удобства клиентов мы предлагаем шоппинг-карту TaxFree4U как часть нашей услуги. Шоппинг-карта дает возможность получить возврат НДС на карту TaxFree, выданную Bank4U.</p>

		<h4>О компании</h4>
		<ul class="ul-list">
			<li>Онлайн-сервис TaxFree4U доступен клиентам со всего мира.</li>
			<li>Офисы нашей компании расположены в пяти странах Европейского Союза: Франции, Германии, Италии, Испании и Соединенном Королевстве.</li>
			<li>Так как мы постоянно развиваемся, в ближайшем будущем вы сможете ощутить преимущества шоппинга с TaxFree4U в еще большем количестве стран.</li>
			<li>Наши услуги отличаются своими технологичностью и инновационностью.</li>
			<li>Наша организация обеспечивает максимальный комфорт клиентам и продавцам.</li>
			<li>У нас гибкие и привлекательные тарифы.</li>
			<li>Возврат НДС будет произведен на шоппинг-карту Tax Free в течение 48 часов с момента подачи валидированной декларации.</li>
		</ul>
	</ion-content>
</ion-view>