<ion-view title="{{'about'|translate}}">
	<ion-content class="has-header" padding="true">
		<h4>About TaxFree4U</h4>
		<p>TaxFree4U is an Online VAT Refund service created for beneficial Shopping in EU. TAXFREE4U is dedicated to make retail transactions between merchants and their foreign customers easier and more beneficial.</p>
		<p>Our process of VAT return is simpler than any existing ones on the market and by that, it gives clients more time for enjoyable shopping. We provide non-EU residents with innovative service with quickest return and smallest service charges. Our clients receive up to 19% of their purchases price returned to them.</p>
		<p>Our company created a unique online platform that allows clients to return VAT by following six easy steps.</p>
		<p>For customers convenience we offer TaxFree4U shopping card as part of the service. The shopping card provide them with an opportunity to get VAT refund within TaxFree card issued by Bank4U.</p>

		<h4>Company’s profile</h4>
		<p>TaxFree4U service is available for customers from all over the world. <br>
		Our companies have registered offices in 5 countries of European Union, France, Germany, Italy, Spain and United Kingdom. <br>
		Sins we are developing our service, you will be able to take benefits of TaxFree4U shopping from more countries in near future.</p>
		<ul class="ul-list">
			<li>Our services are prominent for their technological effectiveness and innovations</li>
			<li>Our working structures provide maximum comfort for customers and merchants</li>
			<li>Our financial conditions are flexible and attractive</li>
			<li>Tax Free refund will be transferred onto Tax Free shopping card within 48 hours upon submission of validated declaration</li>
		</ul>
	</ion-content>
</ion-view>