<ion-view title="{{'about_taxfree_card'|translate}}">
	<ion-content class="has-header" padding="true">

		<div class="padding">

			<h4>Customer Benefits</h4>
			<ul class="ul-llist">
				<li><b>Instrumento de ahorro de dinerot:</b> Puede conseguir hasta un 19 % de ahorro en las compras en el extranjero</li>
				<li><b>Devolución del IVA rápida y sencilla:</b> Puede recuperar fácilmente el IVA pagado después de ir de compras en Europa en un plazo de 48 horas</li>
				<li><b>Condiciones ventajosas de la devolución del IVA:</b> Ofrecemos tarifas ventajosas para la devolución del IVA a la tarjeta Tax Free (GRATIS), en lugar del 2 % (+5 EUR/GBP) que se cobra en las otras tarjetas</li>
				<li><b>Operaciones internacionales:</b> Ofrecemos a nuestros clientes una tarjeta que se puede utilizar en todo el mundo. Nuestras tarjetas las aceptan todos los cajeros automáticos, terminales punto de venta y transacciones en línea en todo el mundo</li>
				<li><b>Fácil obtención de la tarjeta:</b> Ofrecemos un procedimiento sencillo y breve para obtener la tarjeta. Los clientes pueden solicitar la tarjeta con facilidad desde sus cuentas personales en nuestra página web. La entrega de la tarjeta es gratuita en todo el mundo</li>
				<li><b>Gestión en línea de su tarjeta:</b> Ofrecemos a nuestros clientes una cuenta en línea, desde donde se pueden gestionar la mayoría de las operaciones con tarjeta</li>
				<li><b>Crédito sin riesgos:</b> Nuestros clientes no deben preocuparse por estar en deuda porque no hay ninguna posibilidad de tener un saldo negativo</li>
				<li><b>Carga en todo el mundo:</b> Nuestra tarjeta se puede cargar desde todo el mundo. Familiares y amigos pueden depositar dinero fácilmente en la tarjeta mediante diferentes formas de transferencia de dinero, con independencia del lugar en el que estén</li>
				<li><b>Fiabilidad y seguridad:</b> Su tarjeta estará protegida contra el fraude y el robo de identidad con nuestro moderno sistema de protección de tarjetas y la supervisión de las transacciones de lunes a domingo, las 24 h</li>
			</ul>

			<h4>Devolución de impuestos en una tarjeta de</h4>
			<p>La tarjeta Tax-Free es una herramienta única y útil para obtener la devolución de los impuestos. Para obtener la devolución de los impuestos necesita:</p>
			<ul class="ul-list">
				<li>Solicitar y activar su tarjeta Tax-Free en línea, mediante el enlace;</li>
				<li>Ir de compras;</li>
				<li>Presentar una solicitud en la devolución de impuestos en el sitio, mediante el enlace y aceptar recibir fondos a la tarjeta Tax-Free;</li>
				<li>Recibir el formulario de declaración rellenado;</li>
				<li>Sellar esta declaración en el control de aduanas;</li>
				<li>Enviarla a nuestra empresa. La devolución de impuestos se cargará a la tarjeta durante las 48 horas laborables siguientes desde la recepción de su declaración. Preste atención en tener activada la tarjeta para recibir correctamente la devolución de impuestos.</li>
			</ul>

		</div>

	</ion-content>
</ion-view>