<ion-view title="" class="dashboard">
	<div class="loading-bar-top white" ng-class="{'active': loading}"></div>
	<ion-nav-bar class="bar-transparent">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="display: inline-block !important;"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>

		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>

		<div class="dashboard-list">

			<div id="dashboard-item-1" class="item dashboard-item" ng-class="{active: itemActive == 0}">
				<div class="item item-icon-left item-heading" ng-click="toggleItem(0)">
					<i class="icon ion-load-b"></i>
					{{'actions'|translate}} ({{noactionlist.length}})
				</div>
				<div class="item-content" ng-class="{'in': noactionlist.length}">
					<div class="item" ng-repeat="action in noactionlist" ng-click="goToScreen(action)">
						{{action.message}}
						<div class="options">
							<i class="icon ion-ios-timer-outline"></i> {{action.created*1000 | date:"HH:mm:ss"}}
							&nbsp;
							<i class="icon ion-ios-calendar-outline"></i> {{action.created*1000 | date:"dd.MM.yyyy"}}
						</div>
					</div>
				</div>
			</div>

			<div id="dashboard-item-2" class="item dashboard-item" ng-class="{active: itemActive == 1}">
				<div class="item item-icon-left item-heading" ng-click="toggleItem(1)">
					<i class="icon ion-paper-airplane"></i>
					{{'events'|translate}} ({{actionlist.length}})
				</div>
				<div class="item-content">
					<div class="item" ng-repeat="action in actionlist track by $index" ng-click="goToScreen(action)">
						{{action.message}}
						<div class="options">
							<i class="icon ion-ios-timer-outline"></i> {{action.created*1000 | date:"HH:mm:ss"}}
							&nbsp;
							<i class="icon ion-ios-calendar-outline"></i> {{action.created*1000 | date:"dd.MM.yyyy"}}
						</div>
					</div>
				</div>
			</div>

			<div id="dashboard-item-3" class="item dashboard-item" ng-class="{active: itemActive == 2}">
				<div class="item item-icon-left item-heading" ng-click="toggleItem(2)">
					<i class="icon ion-card"></i>
					{{'payments'|translate}}  {{payments.all_payments_total.sum|currency}}
				</div>
				<div class="item-content">
					<div
					class="item"
					ng-show="lastpayment.last_paid_declaration.declaration_id"
					ng-click="goToScreen({entity: 'declaration', entity_id: lastpayment.last_paid_declaration.declaration_id })">
						{{'last_payment'|translate}}: {{lastpayment.last_paid_declaration.total_sum|currency}}
						<div class="options">
							<i class="icon ion-ios-timer-outline"></i> {{lastpayment.last_paid_declaration.complete_time*1000 | date:"HH:mm:ss"}}
							&nbsp;
							<i class="icon ion-ios-calendar-outline"></i> {{lastpayment.last_paid_declaration.complete_time*1000 | date:"dd.MM.yyyy"}}
							<br>
							<i class="icon ion-earth"></i> {{lastpayment.last_paid_declaration.country_enter}} - {{lastpayment.last_paid_declaration.country_leaving}}
						</div>
					</div>
					<div class="item" ng-show="payments.all_payments_total" ng-click="goToScreen({entity: 'payment'})">
						{{'total_paid'|translate}}: {{payments.all_payments_total.sum|currency}}
						<br>
						{{'trips'|translate}}: {{payments.all_payments_total.trip_count}}
						<br>
						{{'checks'|translate}}: {{payments.all_payments_total.check_count}}
					</div>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>