<ion-view title="" class="dashboard">
	<ion-nav-bar class="bar-transparent">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="display: inline-block !important;"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>
		<div class="dashboard-list">

			<div id="dashboard-item-1" class="item dashboard-item" ng-class="{active: itemActive == 0}">
				<div class="item item-icon-left item-heading" ng-click="toggleItem(0)">
					<i class="icon ion-load-b"></i>
					{{'actions'|translate}} ({{noactionlist.notifications.length}})
				</div>
				<div class="item-content">
					<div class="item" ng-repeat="action in noactionlist.notifications">
						{{action.message}}
						<div class="date"><i class="icon ion-ios-timer-outline"></i> {{action.created}}</div>
					</div>
				</div>
			</div>

			<div id="dashboard-item-2" class="item dashboard-item" ng-class="{active: itemActive == 1}">
				<div class="item item-icon-left item-heading" ng-click="toggleItem(1)">
					<i class="icon ion-paper-airplane"></i>
					{{'events'|translate}} ({{actionlist.notifications.length}})
				</div>
				<div class="item-content">
					<div class="item" ng-repeat="action in actionlist.notifications">
						{{action.message}}
						<div class="date"><i class="icon ion-ios-timer-outline"></i> {{action.created}}</div>
					</div>
				</div>
			</div>

			<div id="dashboard-item-3" class="item dashboard-item" ng-class="{active: itemActive == 2}">
				<div class="item item-icon-left item-heading" ng-click="toggleItem(2)">
					<i class="icon ion-card"></i>
					{{'payments'|translate}}  {{payments.all_payments_total.sum|currency}}
				</div>
				<div class="item-content">

					<div class="item" ng-show="lastpayment.last_paid_declaration.length">
					{{lastpayment.last_paid_declaration}}
					</div>
					<div class="item" ng-show="payments.all_payments_total">
						{{'total_paid'|translate}}: {{payments.all_payments_total.sum|currency}}
						<br>
						{{'trips'|translate}}: {{payments.all_payments_total.trip_count}}
						<br>
						{{'checks'|translate}}: {{payments.all_payments_total.check_count}}
					</div>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>