<ion-view title="{{'settings'|translate}}">

	<div class="loading-bar-top" ng-class="{'active': loading}"></div>

	<ion-content class="has-header">

		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>

		<div class="list fade" ng-class="{'in': settings}">

			<label class="item item-input item-select">
				<span class="input-label">{{'app_language'|translate}}</span>
				<select ng-model="appSettings.language">
					<option value="ru">Русский</option>
					<option value="en">English</option>
				</select>
			</label>

			<div class="item item-toggle">
				<span class="input-label">{{'setting_dontShowCardMessagesBuy'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.dontShowCardMessagesBuy" ng-true-value="1" ng-false-value="0">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
			<div class="item item-toggle">
				<span class="input-label">{{'setting_dontShowCardMessagesDef'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.dontShowCardMessagesDef" ng-true-value="1" ng-false-value="0">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>

			<div class="item item-toggle">
				<span class="input-label">{{'setting_receiveSms'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receiveSms" ng-true-value="1" ng-false-value="0">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
			<div class="item item-toggle">
				<span class="input-label">{{'setting_receiveMail'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receiveMail" ng-true-value="1" ng-false-value="0">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
			<div class="item item-toggle">
				<span class="input-label">{{'setting_receivePush'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receivePush" ng-true-value="1" ng-false-value="0">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>


			<div class="item">
				<button class="button button-stable button-block button-assertive up" ng-click="save()">{{'save'|translate}}!</button>
			</div>

		</div>

		<p class="text-center" ng-click="activateDeveloperMode()">Tax Free 4U App v.0.6.0</p>
		<div class="padding"></div>

	</ion-content>
</ion-view>