<button ng-hide="loading || image" ng-click="selectPhoto()" class="button button-block button-outline button-positive icon-left ion-image">
  Загрузить фото
</button>
<div class="image-preview" ng-show="loading || image">
  <table class="table spinner-table">
    <tr>
      <td class="image">
        <ion-spinner icon="spiral" class="spinner-positive" ng-show="loading"></ion-spinner>
        <img ng-show="image" ng-src="http://tax-free-dev.jaya-test.com{{image}}" image-viewer />
      </td>
      <td class="action">
        <div class="remove" ng-click="image = null;">
          <i class="icon ion-android-close"></i>
        </div>
      </td>
    </tr>
  </table>
</div>
<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
