<button ng-click="selectPhoto()" class="button button-block button-outline button-assertive icon-left ion-image">
  {{'upload_photo'|translate}}
</button>
<div class="image-preview" ng-show="loading || images.length">
  <table class="table spinner-table">
    <tr ng-repeat="image in images">
      <td class="image">
        <ion-spinner icon="spiral" class="spinner-positive" ng-show="image.loading"></ion-spinner>
        <img ng-show="image.src" ng-src="{{image.src}}" image-viewer />
      </td>
      <td class="action">
        <div class="remove" ng-click="images.splice($index,1);">
          <i class="icon ion-android-close"></i>
        </div>
      </td>
    </tr>
  </table>
</div>
<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
