<ion-view hide-nav-bar="true">
    <ion-content padding="false">

        <div class="mt20"></div>
        <div class="logo image">
            <img src="images/logo.png">
        </div>
        <h1 class="text-center">{{'registration'|translate}}</h1>
        <p class="text-center">{{'step'|translate}} 2</p>
        <p class="text-center positive">{{'personal_data'|translate}}</p>

        <div class="mt20">
            <form name="form" class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'how_call_you'|translate}} <sup>*</sup></span>
                    <div class="item-select">
                        <select ng-model="data.before_fs" required>
                            <option value="">{{'empty'|translate}}</option>
                            <option value="mr">{{'mr'|translate}}</option>
                            <option value="mrs">{{'mrs'|translate}}</option>
                            <option value="miss">{{'ms'|translate}}</option>
                        </select>
                    </div>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="data.fsname" placeholder="{{'name'|translate}}" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <div class="input-label">{{'country_of_residence'|translate}} <sup>*</sup></div>
                    <div class="item-select">
                        <select integer-model ng-model="data.country" required>
                            <option value="">{{'empty'|translate}}</option>
                            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                        </select>
                    </div>
                </label>
                <div class="item">
                    <span class="input-label">{{'passport_photo'|translate}} <sup>*</sup></span>
                    <choose-images single="true" images="images" url="api/user/upload" userid="{{data.user}}"></choose-images>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'password'|translate}} *</span>
                    <input type="password" minlength="8" ng-model="data.password" placeholder="{{'minimum_8_characters'|translate}}" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'password_confirmation'|translate}} *</span>
                    <input type="password" minlength="8" ng-model="data.password_confirm" placeholder="{{'minimum_8_characters'|translate}}" required>
                </label>
                <div class="item item-checkbox">
                    <label class="checkbox checkbox-assertive">
                        <input type="checkbox" ng-model="data.accept_terms" ng-true-value="true" ng-false-value="false">
                    </label>
                    {{'agree_with'|translate}} {{'terms_of_use'|translate}}
                </div>
            </form>
            <div class="padding mt20">
                <button ng-class="{disabled: !(form.$valid && data.accept_terms && data.password == data.password_confirm)}" class="button button-stable button-block button-assertive up" ng-click="stepThree()">{{'submit'|translate}}</button>
            </div>

        </div>
    </ion-content>
</ion-view>