<ion-view title="{{'settings'|translate}}">
	<ion-content scroll="false" class="has-header">

		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">{{'app_language'|translate}}</div>
				<select ng-model="appSettings.language">
					<option value="ru">Русский</option>
					<option value="en">English</option>
				</select>
			</label>

			<div class="item item-toggle">
				<span class="input-label">{{'setting_dontShowCardMessagesBuy'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.dontShowCardMessagesBuy" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>

			<div class="item item-toggle">
				<span class="input-label">{{'setting_receiveSms'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receiveSms" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>


			<div class="item">
				<button class="button button-stable button-block button-assertive up" ng-click="save()">{{'save'|translate}}!</button>
			</div>

			<!-- <div class="item">
				<button class="button button-stable button-block button-stable up" ng-click="clearCache()">{{'reset'|translate}}!</button>
			</div> -->

			<!-- <div class="item">
				<button class="button button-stable button-block button-stable up" ng-click="pushUnregister()">{{'Disable Push'|translate}}!</button>
			</div> -->
		</div>

		<div class="padding">
			<p class="text-center">Tax Free 4U App v.0.4.0</p>
		</div>

	</ion-content>
</ion-view>