<ion-view title="{{'settings'|translate}}">
	<ion-content class="has-header">

		<div class="list">

			<label class="item item-input item-select">
				<span class="input-label">{{'app_language'|translate}}</span>
				<select ng-model="appSettings.language">
					<option value="ru">Русский</option>
					<option value="en">English</option>
				</select>
			</label>

			<div class="item item-toggle">
				<span class="input-label">{{'setting_dontShowCardMessagesBuy'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.dontShowCardMessagesBuy" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
			<div class="item item-toggle">
				<span class="input-label">{{'setting_dontShowCardMessagesDef'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.dontShowCardMessagesDef" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>

			<div class="item item-toggle">
				<span class="input-label">{{'setting_receiveSms'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receiveSms" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
			<div class="item item-toggle">
				<span class="input-label">{{'setting_receiveMail'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receiveMail" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
			<div class="item item-toggle">
				<span class="input-label">{{'setting_receivePush'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="settings.receivePush" ng-true-value="'1'" ng-false-value="'0'">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>


			<div class="item">
				<button class="button button-stable button-block button-assertive up" ng-click="save()">{{'save'|translate}}!</button>
			</div>

			<div class="item">
				<p class="text-center" ng-click="activateDeveloperMode()">Tax Free 4U App v.0.4.5</p>
			</div>


		</div>

		<div class="list" ng-show="developerMode">
			<div class="item">
				<button class="button button-stable button-block button-stable up" ng-click="clearCache()">{{'reset'|translate}}!</button>
				<button class="button button-stable button-block button-stable up" ng-click="submitDeviceToken()">Submit Device Token</button>
			</div>
		</div>

	</ion-content>
</ion-view>