<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">
        <div class="screen-logo {{orientation}}" ng-click="activateDeveloperMode()">
            <img src="images/logo.png">
        </div>

        <h1 class="text-center white">{{'authorization'|translate}}</h1>
        <p class="text-center white">{{'no_account_yet'|translate}} <a ui-sref="regOne" class="white">{{'registration'|translate}}</a></p>

        <div class="mt20">
            <form name="form" class="list inputs-on-background">
                <div class="form-group">
                    <input class="white-input" type="email" ng-model="user.username" placeholder="{{'email'|translate}}" required>
                </div>
                <div class="form-group">
                    <input class="white-input" type="password" ng-model="user.password" placeholder="{{'password'|translate}}" required>
                </div>
            </form>
            <p class="text-center"><a ui-sref="passwordOne" class="white">{{'forgot_password'|translate}}</a></p>

            <div class="mt20">
                <button ng-disabled="!(form.$valid)" class="button button-block button-outline button-white up" ng-click="login()">{{'login'|translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>