<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="screen-logo {{orientation}}">
            <img src="images/logo.png">
        </div>

        <h1 class="text-center white">{{'password_recovery'|translate}}</h1>

        <div class="mt20">
            <form class="list inputs-on-background" name="form">
                <label class="white">{{'new_password'|translate}} *</label>
                <div class="form-group">
                    <input class="white-input" name="password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/" ng-minlength="8" type="password" ng-model="data.password" placeholder="{{'minimum_8_characters'|translate}}" required>
                </div>

                <label class="white">{{'confirm_new_password'|translate}} *</label>
                <div class="form-group">
                    <input class="white-input" type="password" ng-model="data.password_confirm" placeholder="{{'minimum_8_characters'|translate}}" required>
                </div>
            </form>
        </div>

        <p class="text-center white" ng-show="form.password.$error.pattern && !form.password.$error.minlength">{{'password_format_error'|translate}}</p>
        <p class="text-center white" ng-show="form.password.$error.minlength">{{'minimum_8_characters_error'|translate}}</p>
        <p class="text-center white" ng-show="data.password != data.password_confirm && form.password.$valid">{{'password_not_mutch'|translate}}</p>

        <div class="mt20">
            <button ng-class="{disabled: !(form.$valid && data.password == data.password_confirm)}" class="button button-block button-outline button-white up" ng-click="stepThree()">{{'restore_password'|translate}}</button>
        </div>

    </ion-content>
</ion-view>
