<ion-view class="main-background" hide-nav-bar="true">
    <ion-content padding="true">

        <div class="screen-logo {{orientation}}">
            <img src="images/logo.png">
        </div>

        <h1 class="text-center white">{{'password_recovery'|translate}}</h2>
        <p class="text-center white">{{'choose_drecovery_method'|translate}}</p>

        <div class="mt20">
            <form name="form" class="list">
                <div class="item item-checkbox item-transparent-white">
                    <label class="checkbox"><input type="radio" ng-model="data.sendTo" value="email"></label>
                    {{'send_an_email'|translate}}
                </div>
                <div class="item item-checkbox item-transparent-white">
                    <label class="checkbox"><input type="radio" ng-model="data.sendTo" value="sms"></label>
                    {{'send_via_sms'|translate}}
                </div>
                <div class="box">
                    <div class="form-group">
                        <input class="white-input" type="text" ng-model="data.contact" placeholder="{{'enter_your_email_or_phone'|translate}}..." required>
                    </div>
                </div>
            </form>
        </div>

        <p class="text-center white">{{'remember_password'|translate}} <a ui-sref="login" class="white">{{'login'|translate}}</a></p>

        <div class="mt20">
            <button ng-disabled="!(form.$valid)" class="button button-block button-outline button-white up" ng-click="stepOne()">{{'submit'|translate}}</button>
        </div>

    </ion-content>
</ion-view>
