<div class="modal">

  <ion-header-bar class="bar-assertive">

    <h1 class="title">DEV Settings</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-close" ng-click="closeModalDev()"></button>
    </div>

  </ion-header-bar>

  <ion-content padding="false" scroll="true" class="has-header">


	<div class="list">
		<div class="item item-toggle">
			<span class="input-label">DEV Alerts <br> (close modal to apply)</span>
			<label class="toggle toggle-assertive">
				<input type="checkbox" ng-model="config.debug" ng-true-value="true" ng-false-value="false">
				<div class="track"><div class="handle"></div></div>
			</label>
		</div>
		<div class="item">
			<button class="button button-stable button-block button-stable up" ng-click="clearCache()">{{'reset'|translate}}!</button>
			<button class="button button-stable button-block button-stable up" ng-click="submitDeviceToken()">Submit Device Token</button>
		</div>
		<label class="item item-input item-select">
			<span class="input-label">API Mode</span>
			<select ng-model="dev.domain">
				<option ng-repeat="(mode, domain) in config.domains" value="{{domain}}" ng-selected="{{dev.domain == domain}}">{{mode}}</option>
			</select>
		</label>
		<div class="item">
			<button class="button button-stable button-block button-stable up" ng-click="saveDev()">Save API Settings</button>
		</div>
		<div class="item">
			<p class="text-center">Tax Free 4U App v.{{config.version}}</p>
		</div>
	</div>


  </ion-content>

</div>