<ion-view hide-nav-bar="true">
  <div class="start-screen-logo {{orientation}}">
    <img src="images/logo.png">
  </div>
  <div class="fixed bottom">
    <div class="padding mt20">
      <a ui-sref="login" class="button button-stable button-block button-assertive up" ng-click="login()">{{'start'|translate}}</a>
    </div>
  </div>
  <ion-slide-box on-slide-changed="">
    <ion-slide id="start-step-1">
      <div class="background"></div>
      <div class="overlay"></div>
      <div class="box padding">
        <p class="text-center white">{{'step'|translate}} № 1</p>
        <h1 class="text-center white">{{'start_step_1_title'|translate}}</h1>
        <p class="text-center white">{{'start_step_1_text'|translate}}</p>
      </div>
    </ion-slide>
    <ion-slide id="start-step-2">
      <div class="background"></div>
      <div class="overlay"></div>
      <div class="box padding">
        <p class="text-center white">{{'step'|translate}} № 2</p>
        <h1 class="text-center white">{{'start_step_2_title'|translate}}</h1>
        <p class="text-center white">{{'start_step_2_text'|translate}}</p>
      </div>
    </ion-slide>
    <ion-slide id="start-step-3">
      <div class="background"></div>
      <div class="overlay"></div>
      <div class="box padding">
        <p class="text-center white">{{'step'|translate}} № 3</p>
        <h1 class="text-center white">{{'start_step_3_title'|translate}}</h1>
        <p class="text-center white">{{'start_step_3_text'|translate}}</p>
      </div>
    </ion-slide>
    <ion-slide id="start-step-4">
      <div class="background"></div>
      <div class="overlay"></div>
      <div class="box padding">
        <p class="text-center white">{{'step'|translate}} № 4</p>
        <h1 class="text-center white">{{'start_step_4_title'|translate}}</h1>
        <p class="text-center white">{{'start_step_4_text'|translate}}</p>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>