<ion-view view-title="{{'declarations'|translate}}">
	<ion-content class="has-header">
		<ion-refresher
			pulling-text=""
			on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list class="custom-list">
			<ion-item
				ng-repeat="declaration in declarations"
				ui-sref="main.declaration({id: declaration.id})"
				ng-class="{'item-approved': (declaration.status == 'paid'), 'item-processed': (declaration.status == 'shipping'), 'item-refused': (declaration.status == 'refused')}"
				>
				<h2>{{'declaration'|translate}} ID {{declaration.id}}</h2>
				<p>{{getById(countries,declaration.country).name}}</p>
				<div class="item-icon-right">
					<i class="icon ion-android-done-all" ng-show="declaration.status == 'paid'"></i>
					<i class="icon ion-android-car calm" ng-show="declaration.status == 'shipping'"></i>
					<i class="icon ion-clock assertive" ng-show="declaration.status == 'created'"></i>
					<i class="icon ion-clock assertive" ng-show="declaration.status == 'created_changes'"></i>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>