<div class="modal">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-ios-trash-outline" ng-click="delete()"></button>
		</div>
		<h1 class="title">{{'card_editing'|translate}}</h1>
		<div class="buttons">
			<button class="button button-icon button-clear ion-android-close" ng-click="closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content padding="false" scroll="true" class="has-header">

		<form name="form" class="list">

			<label class="item item-input item-stacked-label">
				<div class="input-label">{{'card_number'|translate}} <sup>*</sup></div>
				<input type="tel" ui-mask="9999-9999-9999-9999" ui-mask-placeholder ng-model="card.number" required>
			</label>

			<label class="item item-input item-stacked-label" ng-class="{'has-error': form.expire_month.$invalid}">
				<div class="input-label">
					{{'expire_month'|translate}} <sup>*</sup>
					<span class="error" ng-show="card.expire_date < currentDate()">{{'date_expired'|translate}}</span>
				</div>
				<div class="item-select">
					<select name="expire_month" ng-model="card.expire_month" integer-model required>
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
				</div>
			</label>

			<label class="item item-input item-stacked-label" ng-class="{'has-error': form.expire_year.$invalid}">
				<div class="input-label">
					{{'expire_year'|translate}} <sup>*</sup>
				</div>
				<div class="item-select">
					<select name="expire_year" ng-model="card.expire_year" integer-model required>
						<option ng-repeat="year in years" value="{{year}}">{{year}}</option>
					</select>
				</div>
				<!-- <input type="month" name="expire_date" ng-model="card.expire_date" required> -->
			</label>

			<div class="item item-toggle">
				<span class="input-label">{{'set_as_default_card'|translate}}</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="card.is_default" ng-true-value="1" ng-false-value="0">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			
		</form>

		<div class="padding">
			<button ng-class="{disabled: (card.expire_date < currentDate() || form.$invalid)}" class="button button-stable button-block button-assertive up" ng-click="update()">{{'done'|translate}}</button>
		</div>
	</ion-content>
</div>
