<div class="modal">
  <ion-header-bar class="bar-assertive">
  <h1 class="title">{{'card_adding'|translate}}</h1>
  <div class="buttons">
    <button class="button button-icon button-clear ion-android-close" ng-click="modal.taxfree.hide()"></button>
  </div>
  </ion-header-bar>
  <ion-content padding="false" scroll="true" class="has-header">

    <form name="form" class="list">

      <label class="item item-input item-stacked-label" ng-class="{'has-error': form.currency_index.$invalid}">
        <div class="input-label">{{'currency'|translate}} <sup>*</sup></div>
        <div class="item-select">
          <select name="currency_index" ng-model="card_taxfree.currency_index">
            <option value="" disabled>{{'empty'|translate}}</option>
            <option ng-repeat="price in prices" ng-show="price.card_price !== 0" value="{{$index}}">{{price.name}} ({{price.card_price}} {{price.short_name}})</option>
          </select>
        </div>
      </label>

      <label class="item item-input item-stacked-label" ng-class="{'has-error': form.post_index.$invalid}">
        <div class="input-label">{{'post_index'|translate}} <sup>*</sup></div>
        <input type="text" name="post_index" ng-model="card_taxfree.post_index" required>
      </label>

      <label class="item item-input item-stacked-label" ng-class="{'has-error': form.city.$invalid}">
        <div class="input-label">{{'city'|translate}} <sup>*</sup></div>
        <input type="text" name="city" ng-model="card_taxfree.city" required>
      </label>

      <label class="item item-input item-stacked-label" ng-class="{'has-error': form.address.$invalid}">
        <div class="input-label">{{'shipping_address'|translate}} <sup>*</sup></div>
        <input type="text" name="address" ng-model="card_taxfree.address" required>
      </label>

      <div class="item"></div>


    </form>

    <div class="padding">
      <button ng-class="{disabled: !(form.$valid)}" class="button button-stable button-block button-assertive up" ng-click="orderTaxFree()">{{'done'|translate}}</button>
    </div>

  </ion-content>
</div>