<ion-view title="{{'profile'|translate}}">

	<div class="loading-bar-top" ng-class="{'active': loading}"></div>

	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-ios-compose-outline hide" ng-click="openModal()" ng-class="{'hide-false': user.profile.editable == 1}"></button>
	</ion-nav-buttons>

	<ion-content padding="false" class="has-header">

		<ion-refresher
			pulling-text=""
			on-refresh="load()">
		</ion-refresher>

		<!-- <div class="barcode-box">
			<div barcode-generator="{{user.profile.uid}}"></div>
			<p class="code">{{user.profile.uid}}</p>
		</div> -->

		<div class="padding bar-status-request text-center hide" ng-class="{'hide-false': user.profile.editable == 0}">
			{{'profile_wait'|translate}}
		</div>

		<div class="padding bar-status-request text-center hide" ng-class="{'hide-false': user.profile.reason}">
			{{user.profile.reason}}
		</div>

		<div class="list fade" ng-class="{'in': user.profile}">

			<div class="item">
				<span class="label">{{'name'|translate}}</span>
				<span class="value">{{user.profile.before_fs | translate}} {{user.profile.fsname}}</span>
			</div>
			<div class="item">
				<span class="label">{{'birthday'|translate}}</span>
				<span class="value" ng-show="user.profile.passp_birthday">{{user.profile.passp_birthday*1000|date:'dd/MM/yyyy'}}</span>
			</div>
			<div class="item">
				<span class="label">{{'sex'|translate}}</span>
				<span class="value" ng-show="user.profile.passp_sex">{{user.profile.passp_sex|translate}}</span>
			</div>
			<div class="item">
				<span class="label">{{'citizenship'|translate}}</span>
				<span class="value" ng-show="user.profile.passp_citizenship">{{getById(countries,user.profile.passp_citizenship).name}}</span>
			</div>
			<div class="item">
				<span class="label">{{'country'|translate}}</span>
				<span class="value" ng-show="user.profile.country">{{getById(countries,user.profile.country).name}}</span>
			</div>
			<div class="item">
				<span class="label">{{'passport_number'|translate}}</span>
				<span class="value" ng-show="user.profile.passp_number">{{user.profile.passp_number}}</span>
			</div>
			<div class="item">
				<span class="label">{{'passport_country'|translate}}</span>
				<span class="value" ng-show="user.profile.passp_country">{{getById(countries,user.profile.passp_country).name}}</span>
			</div>
			<div class="item">
				<span class="label">{{'passport_date'|translate}}</span>
				<span class="value" ng-show="user.profile.passp_date">{{user.profile.passp_date*1000|date:'dd/MM/yyyy'}}</span>
			</div>
			<div class="item">
				<span class="label">{{'email'|translate}}</span>
				<span class="value" ng-show="user.profile.email">{{user.profile.email}}</span>
			</div>
			<div class="item">
				<span class="label">{{'home_address'|translate}}</span>
				<span class="value" ng-show="user.profile.address">{{user.profile.address}}</span>
			</div>
			<div class="item">
				<span class="label">{{'phone'|translate}}</span>
				<span class="value" ng-show="user.profile.phone">{{getById(countries,user.profile.phone_country).phone_code}} {{user.profile.phone}}</span>
			</div>

			<div class="item item-divider">{{'passport_photo'|translate}}</div>
			<div class="item">
				<img class="full-image" image-viewer safe-src="{{user.profile.passport}}" onerror="this.src = 'img/noimage.svg'" alt="">
			</div>

		</div>

	</ion-content>
</ion-view>